.main {
	/* margin: 5px 0px;
	padding: 15px; */

	border-radius: 5px;
	background-color: white;
	color: black;

	position: relative;
}

.container__header {
	position: sticky;
	top: 0px;

	z-index: 2;

	background-color: white;
}

.container__header-title {
	margin-bottom: 10px;

	position: sticky;
	top: 100px;

	z-index: 3;
}

.container__resource {
	width: 100%;
}

.container__product {
	width: 100%;
}

.container__kit-configure {
	animation: container__kit 1s;
}

.container__button-more {
	width: 100%;

	margin-top: 10px;
	padding: 10px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.content__structure-exception {
	min-height: 100px;

	display: flex;
	justify-content: center;
	align-items: center;
}



.container__product-checkout {
	padding-bottom: 20px;

	border-bottom: 1px solid gainsboro;
}
.container__product-checkout:last-child {
	border-bottom: none;
}

.container__image {
	display: flex;
	justify-content: center;
}

.container__buttons {
	display: flex;
	justify-content: center;
}

.container__accessory-included {
	margin: 4px 0px;
	padding: 0px 10px;

	border-radius: 5px;
	border: 1px solid silver;
}

.container__accessory-checkout {
	border-radius: 5px;
	border: 1px solid silver;
}

.container__accessory-item {
	padding: 10px;

	background-color: white;
	color: black;

	border-radius: 5px;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

.container__summary-accessory {
	width: 100%;
	border-bottom: 1px solid silver !important;
}
.container__summary-accessory:last-child {
	width: 100%;
	border-bottom: none !important;
}

.container__item {
	margin: 10px 0px;

	box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

.container__fields {
	display: flex;
	flex-direction: row;
}

.content__structure {
	display: flex;
	align-items: center;
}

.title {
	display: flex;
	align-items: center;

	font-size: 18px;
	font-weight: bold;
}

.button__checkout {
	cursor: pointer;
}

.structure__image {
	height: 100px;
	width: auto;

	object-fit: contain;
}

.title__accessories {
	width: 100%;

	margin-top: 10px;
	margin-bottom: 3px;
	padding-top: 10px;

	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

.title__accessories-checkout {
	width: 100%;

	margin-bottom: 3px;
	padding-top: 10px;

	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.title__accessories-exception {
	width: 100%;

	font-size: 16px;
	font-weight: bold;
	text-align: center;
}




@keyframes container__kit {
	from {
		transform: scale(0.5);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

.container__filters {
	margin-top: 5px;
}

.content__filters {
	background-color: gainsboro;
	color: black;
	border-radius: 5px;
}
.container__cart-structure{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
}


